<div class="dialog-dialog component-dialog-dialog {{className}} {{if substrate "substrate"}}">
  <div class="dialog-content" tabindex="-1">

    <div class="dialog-header">
      <button type="button" class="dialog-close" {{action "accept"}}></button>
      <div class="dialog-title">{{ title }}</div>
    </div>

    <div class="dialog-body">{{yield}}</div>

    <div class="dialog-footer">
      <button class="btn btn__accept" type="button" {{action "accept"}}>OK</button>
    </div>

  </div>
</div>
