<div class="dialog-header">
    <button type="button" class="close" {{action "accept" target}}>×</button>
    <h4 class="dialog-title">
        {{ view.title }}
    </h4>
</div>
<div class="dialog-body">
    {{yield}}
</div>
<div class="dialog-footer">
    <button class="btn btn-default" type="button" {{action "accept" target}}>{{target.acceptLabel}}</button>
</div>