<div class="dialog-header">
    <button type="button" class="close" {{action dialog.acceptHandlerName dialog}}>×</button>
    <div class="dialog-title">{{ dialog.title }}</div>
</div>
<div class="dialog-body">
    {{yield}}
</div>
<div class="dialog-footer">
    <button class="btn btn-default" type="button" {{action dialog.acceptHandlerName dialog}}>{{dialog.acceptLabel}}</button>
</div>