<div class="dialog-header">
    <button type="button" class="close" {{action target.declineHandlerName target}}>×</button>
    <div class="dialog-title">{{ target.title }}</div>
</div>
<div class="dialog-body">
    {{yield}}
</div>
<div class="dialog-footer">
    <button class="btn btn-primary" type="button" {{action target.acceptHandlerName target}}>{{target.acceptLabel}}</button>
    <button class="btn btn-default" type="button" {{action target.declineHandlerName target}}>{{target.declineLabel}}</button>
</div>