<div class="container">
  <div class="w-body-item">

    <div class="row">
      <div class="col-sm-3 left-nav">
        <ul>
          <li>{{#link-to 'cookbook.animation' class="w-link"}}{{t "cookbook.animation"}}{{/link-to}}</li>
          {{!-- <li>{{#link-to 'cookbook.how-to-make-dialog-drag-n-dropable' class="w-link"}}{{t "cookbook.how_to_make_dialog_drag_n_dropable"}}{{/link-to}}</li> --}}
          <li>{{#link-to 'cookbook.showing-server-errors' class="w-link"}}{{t "cookbook.showing_server_errors"}}{{/link-to}}</li>
          <li>{{#link-to 'cookbook.creating-notices' class="w-link"}}{{t "cookbook.creating_notices"}}{{/link-to}}</li>
          {{!-- <li>{{#link-to 'cookbook.working-with-forms' class="w-link"}}{{t "cookbook.working_with_forms"}}{{/link-to}}</li> --}}
        </ul>
      </div>
      <div class="col-sm-9">
        {{outlet}}
      </div>
    </div>

  </div>
</div>
