<div class="container">
  <div class="w-body-item">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="w-subtitle __w-first">Installation</h2>
        <div><a class="w-link" onclick={{action "showAlert"}}>Показать alert-окно</a></div>
        <div><a class="w-link" onclick={{action "showConfirm"}}>Показать confirm-окно</a></div>
        <div><a class="w-link" onclick={{action "showBlank"}}>Показать blank-окно</a></div>
        {{!-- <div><a href="javascript: void(0);" onclick={{action "test"}}>Show dialog (from controller)</a></div> --}}
        {{!-- <div><a href="javascript: void(0);" onclick={{action dialog.alert "test-message" this (hash title="The title" acceptHandler="accept")}}>Show dialog (from template)</a></div> --}}
      </div>
    </div>
  </div>
</div>
