<div class="container">
  <div class="w-body-item">

    <div class="row">
      <div class="col-sm-3 left-nav">
        <ul>
          <li>{{#link-to 'tutorial.creating' class="w-link"}}{{t "tutorial.creating_first_dialog"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.presenter-and-manager' class="w-link"}}{{t "tutorial.presenter_and_manager"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.advanced-creating-dialog' class="w-link"}}{{t "tutorial.advanced_creating_dialog"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.interrupt-closing' class="w-link"}}{{t "tutorial.interrupt_closing"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.listening-events' class="w-link"}}{{t "tutorial.listening_events"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.creating-dialog-templates' class="w-link"}}{{t "tutorial.creating_dialog_templates"}}{{/link-to}}</li>
          <li>{{#link-to 'tutorial.customizing-dialog' class="w-link"}}{{t "tutorial.customizing_dialog"}}{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-sm-9">
        {{outlet}}
      </div>
    </div>

  </div>
</div>
